{
  "presets": [
    [ "env", { "modules": false } ],
    "stage-0",
    "react",
    "flow"
  ],

  "env": {
    "test": {
      "presets": [
        "env", ["babel-preset-env"]
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },

  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "transform-runtime"
  ]
}
